@page
@model GigaBankLab.Pages.Deposits.CreateDepositContractModel

@{
    ViewData["Title"] = "CreateDepositContract";
}

<h1>Оформление депозита</h1>

<h4>Депозитный договор</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepositContractDTO.ClientId" class="control-label"></label>
                <select asp-for="DepositContractDTO.ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepositContractDTO.DepositId" class="control-label"></label>
                <select asp-for="DepositContractDTO.DepositId" class ="form-control" asp-items="ViewBag.DepositId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DepositContractDTO.Amount" class="control-label"></label>
                <input asp-for="DepositContractDTO.Amount" type=number min=0 class="form-control" />
                <span asp-validation-for="DepositContractDTO.Amount" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-page="ClientsDeposits">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
