@page
@model GigaBankLab.Pages.Credits.CreateCreditContractModel

@{
    ViewData["Title"] = "CreateCreditContract";
}

<h1>Оформление кредита</h1>

<h4>Договор кредитования</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreditContractDTO.ClientId" class="control-label"></label>
                <select asp-for="CreditContractDTO.ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreditContractDTO.CreditProductId" class="control-label"></label>
                <select asp-for="CreditContractDTO.CreditProductId" class="form-control" asp-items="ViewBag.CreditId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreditContractDTO.Amount" class="control-label"></label>
                <input asp-for="CreditContractDTO.Amount" class="form-control" />
                <span asp-validation-for="CreditContractDTO.Amount" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="CreditContracts">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
